h1{
    text-align: center;
}

nav.navbar{
    display: flex;
    flex-flow: row nowrap;
    background-color: #081D36;
}

div#firstthree{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
div#lastone{
    width: 20%;
}

nav.navbar a{
    width: 10%;
}

div#firstthree p{
    text-align: center;
}
nav img{
    max-width: 100%;
    max-height: 2em;
    margin: 0.5em 40%;
}

nav.navbar a{
    color: #F6FBFF;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 30px;
}
nav.navbar a:hover{
    color: #F6FBFF;
    background-color: #AC1CB6;
}

body{
    background-color: #1A1C1E;
    color: #F6FBFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#Balance, div#Transactions, div#PI, div#Money_transfer, div#Transactionsdet, div#Account, div#Login{
    margin-top: 3%;
    border: 5px solid;
    border-image: linear-gradient(90deg, rgba(172,28,182,1) 0%, rgba(238,197,13,1) 100%) 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5%;
}
div#Transactions ul, div#Transactionsdet ul{
    list-style-type: none;
}

div#Transactionsdet ul{
    font-size: large;
}
div#BalanceChild{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 5px;
}

div#Balance p#money{
    color: aquamarine;
}

div#flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

div#flexboxcolumn{
    display: flex;
    width: 45%;
    flex-flow: column nowrap;
    justify-content: center;
}

.mtitems, .Loginitems{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 10px;
}

input[type="number"]{
    -moz-appearance: textfield;
    text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button.mtitems, button.Loginitems {
    display: table-cell;
    vertical-align: middle;
    background-color: #EEC50D;
    color: #081D36;
    border-color: #EEC50D;
    width: 60%;
    align-self: flex-end;
}

div#Money_transfer form, div#Login form{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 15px;
    column-gap: 10px;
}

div#Transactions h2{
    width: 100%;
    text-align: center;
}