<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <nav class="navbar">
        <div id="firstthree">
        <a href="index.html"><p>Home</p></a>
        <a href="money_transfer.html"><p>Money Transfer</p></a>
        <a href="transactions.html"><p>Transactions</p></a>
        </div>
        <a href="account.html"><img src="./profile.png"></a>
    </nav>
    <div class="flexbox">
        <div class="flexboxcolumn">
            <div class="Account">
                <h3>Profile</h3>
                <h4></h4><p></p>
            </div>
        </div>
    </div>
</body>
</!DOCTYPE html>
