<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <nav class="navbar">
        <div id="firstthree">
        <a href="index.html"><p>Home</p></a>
        <a href="money_transfer.html"><p>Money Transfer</p></a>
        <a href="transactions.html"><p>Transactions</p></a>
        </div>
        <a href="account.html"><img src="./profile.png"></a>
    </nav>
    <div id="flexbox">
        <div id="flexboxcolumn">
            <div id="PI">
                <div id="BalanceChild"><h3>Welcome,</h3><h1>Ferhat Kunduracı</h1></div>
                <div id="BalanceChild"><p>Worker with Salary : 3000$</p></div>
            </div>
            <div class="items" id="Balance">
                <div id="BalanceChild"><p id="iban">IBAN: TR000000000000000000000000</p></div>
                <div id="BalanceChild"><h2>Balance:</h2><p id="money">5921$</p></div>
            </div>
        </div>
        <div class="items" id="flexboxcolumn">
            <div id="Transactions">
                <h2>Last 5 Transactions</h2>
                <ul>
                    <li>Farad -> Sarad  :  350$</li>
                    <li>Farad -> Sarad  :  350$</li>
                    <li>Farad -> Sarad  :  350$</li>
                    <li>Farad -> Sarad  :  350$</li>
                    <li>Farad -> Sarad  :  350$</li>
                    <li>Farad -> Sarad  :  350$</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<!DOCTYPE html>
