<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <nav class="navbar">
        <div id="firstthree">
        <a href="index"><p>Home</p></a>
        <a href="money_transfer"><p>Money Transfer</p></a>
        <a href="transactions"><p>Transactions</p></a>
        </div>
        <a href="account"><img src="static/profile.png"></a>
    </nav>
    <div id="flexbox">
        <div id="flexboxcolumn">
            <div id="PI">
                <div id="BalanceChild"><h3>Welcome,</h3><h1>{{userinfo[2]}} {{userinfo[3]}}</h1></div>
                {% if userinfo[0]=="Worker" %}
                <div id="BalanceChild"><p>Worker with Salary : {{userinfo[7]}}$</p></div>
                {% endif %}
                {% if userinfo[0]=="Customer" %}
                <div id="BalanceChild"><p>Dear Customer of BasicBank</p></div>
                {% endif %}
            </div>
            <div class="items" id="Balance">
                <div id="BalanceChild"><p id="iban">IBAN: {{userinfo[1]}}</p></div>
                <div id="BalanceChild"><h2>Balance:</h2><p id="money">{{userinfo[4]}}$</p></div>
            </div>
        </div>
        {% if userinfo[6] | length > 0 %}
        <div class="items" id="flexboxcolumn">
            <div id="Transactions">
                <h2>Last {{5 if userinfo[6] | length > 5 else userinfo[6] | length}} Transactions</h2>
                <ul>
                    {% if userinfo[6] | length > 5 %}
                    {% for x in range(5) %}
                    <li>{{"FROM" if userinfo[6][x-5][0] else "SENT"}} {{userinfo[6][x-5][1]}}  :  {{userinfo[6][x-5][2]}}$</li>
                    {% endfor %}
                    {% else %}
                    {% for x in range(userinfo[6] | length) %}
                    <li>{{"FROM" if userinfo[6][x][0] else "SENT"}} {{userinfo[6][x][1]}}  :  {{userinfo[6][x][2]}}$</li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div id="BalanceChild">
                <form method="POST">
                    <button id="Exitbut">EXIT</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</body>
