<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <nav class="navbar">
        <div id="firstthree">
        <a href="index"><p>Home</p></a>
        <a href="money_transfer"><p>Money Transfer</p></a>
        <a href="transactions"><p>Transactions</p></a>
        </div>
        <a href="account"><img src="static/profile.png"></a>
    </nav>
    <div id="flexbox">
        <div id="flexboxcolumn">
            <div id="Money_transfer">
                <form method="post">
                    <h2 class="mtitems">Money Transfer</h2>
                    <div class="mtitems">
                        <input type="radio" name="mtdepwit" required checked value=0 onchange=toggleIBANRequirement()>Money Transfer
                        <input type="radio" name="mtdepwit" required value=1 onchange=toggleIBANRequirement()>Deposit
                        <input type="radio" name="mtdepwit" required value=2 onchange=toggleIBANRequirement()>Withdraw
                    </div>
                    <div class="mtitems" id="ibanDiv"><div><label>IBAN to Transfer: </label></div><div><input type="text" id="ibantr" name="ibantr" required pattern="^TR\d{2}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{2}|TR\d{24}$" placeholder="TRXX XXXX XXXX XXXX XXXX XXXX XX" title="Türkiye'de ibanlar 26 karakterden oluşur ve TR ile başlar"></div></div>
                    <div class="mtitems"><div><label>Amount: </label></div><div><input type="number" step=0.01 min=0.01 name="money" required >$</div></div>
                    <button class="mtitems" title="Submit">Send</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function toggleIBANRequirement() {
                const ibanInput = document.getElementById('ibantr');
                const ibanDiv = document.getElementById("ibanDiv");
                const selectedValue = document.querySelector('input[name="mtdepwit"]:checked').value;

                if (selectedValue == 0) {
                    ibanInput.required = true;
                    ibanDiv.style.display = "flex";
                } else {
                    ibanInput.required = false;
                    ibanDiv.style.display = "none";
                }
            }
            document.querySelectorAll('input[name="mtdepwit"]').forEach(input => {
                input.addEventListener('change', toggleIBANRequirement);
            });
            toggleIBANRequirement();
        });
    </script>
</body>