<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <div id="flexbox">
        <div id="flexboxcolumn">
            <div id="Login">
                <form method="post">
                <h1 class="Loginitems">SIGN UP</h1>
                <div class="Loginitems"><div><label>Name: </label></div><div><input type="text" name="nm" required  placeholder="Your Name" title="Please enter your name"></div></div>
                <div class="Loginitems"><div><label>Surame: </label></div><div><input type="text" name="snm" required  placeholder="Your Surname" title="Please enter your surname"></div></div>
                <div class="Loginitems"><div><label>Password:</label></div><div><input type="password" name="passw" required placeholder="***********" title="Please enter your password" pattern="[0,9]{4,}"></div></div>
                <div class="Loginitems"><div><label>First Deposit:</label></div><div><input type="number" id="firstdep" step=0.01 min=0 name="balance" required placeholder="1256.73"  title="Please enter the amount of money you want to deposit"></div></div>
                <div class="Loginitems"><div><label>Are You Working For Us?</label></div><div><input type="checkbox" value="1" name="isworker" title="Please check if you are working for us"></div></div>
                <div class="Loginitems"><a href="/">Login</a><button type="submit" class="Loginitems"title="Submit">Sign Up</button></div>
                </form>
            </div>
        </div>
    </div>
</body>

