<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <nav class="navbar">
        <div id="firstthree">
        <a href="index"><p>Home</p></a>
        <a href="money_transfer"><p>Money Transfer</p></a>
        <a href="transactions"><p>Transactions</p></a>
        </div>
        <a href="account"><img src="static/profile.png"></a>
    </nav>
    <div class="flexbox">
        <div class="flexboxcolumn">
            {% if userinfo[6] | length > 0 %}
            <div id="Transactionsdet">
            <ul>
                {% for i in userinfo[6]%}
                {% if i[0] %}
                <li><span style="color: yellowgreen;">FROM</span> {{i[1]}}  :  {{i[2]}}$     <span style="color: powderblue;"> ({{i[3]}})</span></li>
                {% else %}
                <li><span style="color: rgb(167, 12, 12);">SENT</span> {{i[1]}}  :  {{i[2]}}$    <span style="color: powderblue;"> ({{i[3]}})</span></li>
                {% endif %}
                {% endfor %}
            </ul>
            </div>
            {% elif userinfo[6] | length == 0 %}
            <h2 style="text-align: center; color: #AC1CB6;">There is not any transaction to show</h2> 
            {% endif %}
        </div>
    </div>