<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h1>Basic Bank</h1>
    <nav class="navbar">
        <div id="firstthree">
        <a href="index.html"><p>Home</p></a>
        <a href="money_transfer.html"><p>Money Transfer</p></a>
        <a href="transactions.html"><p>Transactions</p></a>
        </div>
        <a href="account.html"><img src="./profile.png"></a>
    </nav>
    <div class="flexbox">
        <div class="flexboxcolumn">
            <div id="Transactionsdet">
            <ul>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
                <li>Farad -> Sarad  :  350$   12/08/2024  15.57</li>
            </ul>
        </div>
        </div>
    </div>